.items
  - items.each do |item|
    .item{"data-item_id":"#{item.id}","data-model_name": item.class.name.underscore, "data-update_url": item_sort_path(item)}
      .item__image
        = image_tag(item.image.to_s) if item.image?
      .item__name
        = item.name
      .item__info
        category:
        = item.category.name
        %br
        color:
        = item.color.name
        %br
        price:
        = "¥" + item.price.to_s(:delimited)
        %br
        %button.edit__button
          = link_to edit_item_path(item) do
            Edit