.left-header
  .left-header__lists 
    %ul.nav
      %li
        .select Category
        %ul#option
          %li
            = link_to  outer_items_path do
              = fa_icon "square-o"
              Outer
          %li
            = link_to tops_items_path do
              = fa_icon "square-o"
              Tops
          %li
            = link_to bottoms_items_path do
              = fa_icon "square-o"
              Bottoms
          %li
            = link_to shoes_items_path do
              = fa_icon "square-o"
              Shoes
          %li
            = link_to goods_items_path do
              = fa_icon "square-o"
              Goods

    %ul.nav
      %li
        .select Color
        %ul#option
          %li.color-box
            = link_to black_items_path do
              = fa_icon "square"
              Black
          %li.color-box.white
            = link_to white_items_path do
              = fa_icon "square"
              White
          %li.color-box.navy
            = link_to navy_items_path do
              = fa_icon "square"
              Navy
          %li.color-box.gray
            = link_to gray_items_path do
              = fa_icon "square"
              Gray
          %li.color-box.beige
            = link_to beige_items_path do
              = fa_icon "square"
              Beige
          %li.color-box.green
            = link_to green_items_path do
              = fa_icon "square"
              Green
          %li.color-box.rainbow
            = link_to other_color_items_path do
              = fa_icon "square-o"  
              Other

    .icon
      = link_to  new_item_path do
        = fa_icon "camera"
        post !
    .icon
      = fa_icon "user"
      my-page

    - if user_signed_in?
      .icon
        = link_to destroy_user_session_path, method: :delete do
          = fa_icon "sign-out"
          sign-out
    - else
      .icon
        = link_to  new_user_session_path do
          = fa_icon "sign-in"
          sign-in

    .trash-box 
      = fa_icon "trash"