.left-header
  .left-header__lists 
    %ul.nav
      %li
        .select Category
        %ul#option
          %li
            %a{href: "#"}
            ■ Outer
          %li
            %a{href: "#"}
            ■ Tops
          %li
            %a{href: "#"}
            ■ Bottoms
          %li
            %a{href: "#"}
            ■ Shoes
          %li
            %a{href: "#"}
            ■ Goods

    %ul.nav
      %li
        .select Color
        %ul#option
          %li
            %a{href: "#"}
            %span{style:"color:black"}>● 
            Black
          %li
            %a{href: "#"}
            %span{style:"color:#f5f5f5"}>● 
            White
          %li
            %a{href: "#"}
            %span{style:"color:navy"}>● 
            Navy
          %li
            %a{href: "#"}
            %span{style:"color:red"}>●
            Red
          %li
            %a{href: "#"}
            %span{style:"color:blue"}>●
            Blue
          %li
            %a{href: "#"}
            %span{style:"color:green"}>●
            Green
          %li
            %a{href: "#"}
            %span{style:"color:lightgray"}>●
            Other

    .icon
      = link_to  new_item_path do
        = fa_icon "camera"
        post !
    .icon
      = fa_icon "user"
      my-page

    - if user_signed_in?
      .icon
        = link_to destroy_user_session_path, method: :delete do
          = fa_icon "sign-out"
          sign-out
    - else
      .icon
        = link_to  new_user_session_path do
          = fa_icon "sign-in"
          sign-in
:
    .trash-box
      = fa_icon "trash"