.left-header
  .left-header__lists 
    %ul.nav
      %li
        .select Category
        %ul#option
          %li
            = link_to  "#" do
              \■ Outer
          %li
            = link_to  "#" do
              \■ Tops
          %li
            = link_to  "#" do
              \■ Bottoms
          %li
            = link_to  "#" do
              \■ Shoes
          %li
            = link_to  "#" do
              \■ Goods

    %ul.nav
      %li
        .select Color
        %ul#option
          %li
            = link_to  "#" do
              %span{style:"color:black"}>● 
              Black
          %li
            = link_to  "#" do
              %span{style:"color:#f5f5f5"}>● 
              White
          %li
            = link_to  "#" do
              %span{style:"color:navy"}>● 
              Navy
          %li
            = link_to  "#" do
              %span{style:"color:red"}>●
              Red
          %li
            = link_to  "#" do
              %span{style:"color:blue"}>●
              Blue
          %li
            = link_to  "#" do
              %span{style:"color:green"}>●
              Green
          %li
            = link_to  "#" do
              %span{style:"color:lightgray"}>●
              Other

    .icon
      = link_to  new_item_path do
        = fa_icon "camera"
        post !
    .icon
      = fa_icon "user"
      my-page

    - if user_signed_in?
      .icon
        = link_to destroy_user_session_path, method: :delete do
          = fa_icon "sign-out"
          sign-out
    - else
      .icon
        = link_to  new_user_session_path do
          = fa_icon "sign-in"
          sign-in

    .trash-box
      = fa_icon "trash"