.wrapper
  .container
    .form
      %h3 投稿する
      = form_with model: @item, action: "/" do |f|
        = f.label :"アイテム名"
        = f.text_field :name, placeholder: "アイテム名", class: "form-content"
        = f.file_field :image, placeholder: "Image URL"
        = f.submit :"送信!", class:"button"