!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Cloz
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://fonts.googleapis.com/css?family=Sriracha&display=swap", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Encode+Sans+Condensed|Gruppo|Sriracha&display=swap", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c&display=swap", :rel => "stylesheet"}/
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
  %body
    = yield
