<!DOCTYPE html>
<html>
  <head>
    <title>Cloz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
   <%# <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> %>
   <link href="https://fonts.googleapis.com/css?family=Sriracha&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed|Gruppo|Sriracha&display=swap" rel="stylesheet">
  <body>
    <%= yield %>
  </body>
</html>
